    <!-- form handling-->
    <form action="/api/materials" method="POST" id="add_material">
        <div class="new_material">
          <div class="form-group">
            <label for="reference" class="text-light">Référence</label>
            <input type="hidden" name="id" value="" />
            <input
              type="text"
              name="reference"
              value=""
              placeholder="Macbook Air m2"
            />
          </div>
          <div class="form-group">
            <label for="description" class="text-light">Description</label>
            <input
              type="text"
              name="description"
              value=""
              placeholder="Ordinateur portable mac"
            />
          </div>
          <div class="form-group">
            <label for="statut" class="text-light">Description</label>
            <div class="radio inline">
              <input type="radio" id="radio-2" name="statut" value="true" />
              <label for="radio-2" class="radio-label">En prêt</label>
            </div>
            <div class="radio inline">
              <input type="radio" name="statut" id="radio-3" value="false" />
              <label for="radio-3" class="radio-label">En stock</label>
            </div>
          </div>
  
          <div class="form-group">
            <button type="submit" class="btn text-dark update">
              Enregistrer
            </button>
          </div>
        </div>
      </form>
      <!--/form handling-->